#logo-nav {
    width: 564px;
    height: 119px;
    background: url("../recursos/logo.png") no-repeat;
    font-size: 0;
}

#title-presentacion {
    font-size: 64px;
    text-transform: uppercase;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 480px; 
    padding-right: 32px; 
    align-items: center;
}

.container-note {
    margin-top: 80px; 
    display: flex;
    width: auto; 
    margin: 16px 80px; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.div-container-presentacion {
    width: 100%;
    height: 640px; 
    background-image: url('../recursos/cielo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form-container {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 16px 32px; 
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form-group {
    margin-top: 16px; 
}

.formulario {
    width: 100%;
    padding: 16px 160px; 
}

#submit-button {
    margin-top: 40px; 
}

.sticky-note {
    width: 300px;
    margin: 16px 0; 
    background-color: #ffd700;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.sticky-note:before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #ffd700 transparent;
    transform: translateX(-50%);
}

.sticky-note h2 {
    margin: 0;
    font-weight: bold;
    color: #333;
}

.sticky-note p {
    margin-top: 10px;
    line-height: 1.5;
    color: #666;
}

.footer {
    background-color: #f5f4f2;
    width: 100%;
    height: 240px; 
    display: flex;
    justify-content: space-between;
    padding: 16px; 
}

#container1 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container1 a {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333;
}

#container2 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#container2 a, p {
    text-align: justify;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333;
}

.icon {
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 768px) {
    .formulario {
        width: 100%;
        padding: 16px 32px; 
    }
    
    .container-note {
        margin-top: 80px; 
        display: flex;
        width: 100%;
        margin: 8px; 
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sticky-note {
        transform: scale(0.8);
        margin: 8px 0; 
    }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto; 
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    width: 80%; 
    max-width: 600px; 
    border-radius: 10px; 
}



.modal-body {
    text-align: left; 
}

.modal-body p {
    margin-bottom: 20px; 
}

.modal-personas {
    display: flex;
}

.persona {
    display: flex;
    align-items: center;
}

.persona img {
    border-radius: 50%; 
}

.persona p {
    margin: 10px 0 0 0; 
    text-align: center; 
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%; 
        padding: 10px;
    }

    .close {
        font-size: 20px;
    }

    .modal-body p {
        font-size: 14px;
    }

    .persona img {
        height: 80px;
        width: 80px;
    }

    .persona p {
        font-size: 14px;
    }
}
